
#addColumnsContainer, #removeColumnsContainer, .itemAdd, .itemRemove, .filterItem
{
    display: flex;
    align-items: center;
}

#removeColumnsContainer, #addColumnsContainer
{
    width: 100vw;
    flex-wrap: wrap;
}

#removeColumnsContainer
{
    margin-top: 1rem;
}

.itemAdd, .itemRemove
{
    cursor: pointer;
}


.itemAdd>*, .itemRemove>*
{
    margin: 0;
    margin-bottom: 0.5rem;
}

.buttonAdd, .buttonRemove
{
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.buttonAdd
{
    background: green;
}

.buttonRemove
{
    background: red;
}

.itemAdd:hover>.buttonAdd, .itemRemove:hover>.buttonRemove
{
    background:gray;
}

.filterItem
{
    height: fit-content;
    margin-top: 0.5rem;
    width: 700px;
    display: flex;
    justify-content: space-between;
}
