{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Students List</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Identity Number</th>
                <th scope="col">Age</th>
                <th scope="col">Province</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.last_Name }}</td>
                <td>{{ student.identity_Number }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.province }}</td>
                <td><a type="button" class="btn btn-warning" href="/student-update/{{ student.id }}">Editar</a>
                    <a type="button" class="btn btn-danger" href="/student-delete/{{ student.id }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Button to create new student-->
    <a type="button" class="btn btn-success" href="{%url 'student-create' %}">Create</a>

    <!-- Button to upload excel file-->
    <form action="{% url 'upload-file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
               accept=".xls,.xlsx"
               title="Upload excel file"
               name="excel_file"
               style="border: 1px solid black; padding: 5px;"
               required="required">
        <p>
        <input type="submit"
               class="btn btn-success"
               value="Upload"
               style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>

</div>
{% endblock %}