{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="card-body">
    <h4>Actualizar Estudiante</h4>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a style="background-color: #ff6961; border-color: #ff6961;" type="button" class="btn btn-danger" href="{%url 'student-list' %}">Cancelar</a>
        <button style="background-color: #3089ca; border-color: #3089ca; shad" type="submit" class="btn btn-success">Aceptar</button>
    </form>
</div>


<script src={% static 'front/active_students.js' %}></script>
{% endblock %}