{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'front/styles.css' %}"/>

<div class="card-body">
    <h3 style="margin-bottom: 2%;">Crear Nuevo Estudiante</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a style="background-color: #ff6961; border-color: #ff6961;" type="button" class="btn btn-danger" href="{%url 'student-list' %}">Cancelar</a>
        <button style="background-color: #3089ca; border-color: #3089ca;" type="submit" class="btn btn-success">Aceptar</button>
    </form>
</div>


<script src={% static 'front/active_students.js' %}></script>
{% endblock %}